power-automate/ticket-workflow.json
{
  "definition": {
    "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
    "contentVersion": "1.0.0.0",
    "parameters": {},
    "triggers": {
      "manual": {
        "type": "Request",
        "kind": "Http",
        "inputs": {
          "schema": {
            "type": "object",
            "properties": {
              "ticketNumber": {
                "type": "string"
              },
              "subject": {
                "type": "string"
              },
              "priority": {
                "type": "string"
              },
              "description": {
                "type": "string"
              },
              "clientName": {
                "type": "string"
              },
              "clientEmail": {
                "type": "string"
              },
              "source": {
                "type": "string"
              },
              "created": {
                "type": "string"
              }
            }
          }
        }
      }
    },
    "actions": {
      "Create_item_in_SharePoint": {
        "runAfter": {},
        "type": "ApiConnection",
        "inputs": {
          "host": {
            "connection": {
              "name": "@parameters('$connections')['sharepointonline']['connectionId']"
            }
          },
          "method": "post",
          "path": "/datasets/@{encodeURIComponent(encodeURIComponent('YOUR_SHAREPOINT_SITE'))}/tables/@{encodeURIComponent(encodeURIComponent('Support Tickets'))}/items",
          "body": {
            "TicketNumber": "@triggerBody()?['ticketNumber']",
            "Subject": "@triggerBody()?['subject']",
            "Priority": "@triggerBody()?['priority']",
            "Status": "Open",
            "Description": "@triggerBody()?['description']",
            "ClientName": "@triggerBody()?['clientName']",
            "ClientEmail": "@triggerBody()?['clientEmail']",
            "Source": "@triggerBody()?['source']",
            "CreatedDate": "@triggerBody()?['created']",
            "LastUpdated": "@utcNow()"
          }
        }
      },
      "Send_email_to_support_team": {
        "runAfter": {
          "Create_item_in_SharePoint": ["Succeeded"]
        },
        "type": "ApiConnection",
        "inputs": {
          "host": {
            "connection": {
              "name": "@parameters('$connections')['office365']['connectionId']"
            }
          },
          "method": "post",
          "path": "/v2/Mail",
          "body": {
            "To": "support@nextphaseit.org",
            "Subject": "New Support Ticket: @{triggerBody()?['ticketNumber']} - @{triggerBody()?['subject']}",
            "Body": "<h2>New Support Ticket Created</h2><p><strong>Ticket #:</strong> @{triggerBody()?['ticketNumber']}</p><p><strong>Subject:</strong> @{triggerBody()?['subject']}</p><p><strong>Priority:</strong> @{triggerBody()?['priority']}</p><p><strong>Client:</strong> @{triggerBody()?['clientName']} (@{triggerBody()?['clientEmail']})</p><p><strong>Source:</strong> @{triggerBody()?['source']}</p><p><strong>Description:</strong></p><p>@{triggerBody()?['description']}</p><p><a href='https://nextphaseit.org/admin'>View in Admin Portal</a></p>",
            "Importance": "@if(equals(triggerBody()?['priority'], 'urgent'), 'High', 'Normal')"
          }
        }
      },
      "Post_to_Teams_channel": {
        "runAfter": {
          "Send_email_to_support_team": ["Succeeded"]
        },
        "type": "ApiConnection",
        "inputs": {
          "host": {
            "connection": {
              "name": "@parameters('$connections')['teams']['connectionId']"
            }
          },
          "method": "post",
          "path": "/v1.0/teams/@{encodeURIComponent('YOUR_TEAM_ID')}/channels/@{encodeURIComponent('YOUR_CHANNEL_ID')}/messages",
          "body": {
            "body": {
              "contentType": "html",
              "content": "<h3>🎫 New Support Ticket</h3><p><strong>Ticket #:</strong> @{triggerBody()?['ticketNumber']}</p><p><strong>Subject:</strong> @{triggerBody()?['subject']}</p><p><strong>Priority:</strong> @{triggerBody()?['priority']}</p><p><strong>Client:</strong> @{triggerBody()?['clientName']}</p><p><a href='https://nextphaseit.org/admin'>View in Admin Portal</a></p>"
            }
          }
        }
      },
      "Condition_for_urgent_tickets": {
        "runAfter": {
          "Post_to_Teams_channel": ["Succeeded"]
        },
        "type": "If",
        "expression": {
          "equals": ["@triggerBody()?['priority']", "urgent"]
        },
        "actions": {
          "Send_SMS_for_urgent": {
            "type": "ApiConnection",
            "inputs": {
              "host": {
                "connection": {
                  "name": "@parameters('$connections')['sms']['connectionId']"
                }
              },
              "method": "post",
              "path": "/sms",
              "body": {
                "to": "+19843109533",
                "message": "URGENT: New support ticket @{triggerBody()?['ticketNumber']} - @{triggerBody()?['subject']}. Check admin portal immediately."
              }
            }
          }
        }
      }
    },
    "outputs": {}
  },
  "parameters": {
    "$connections": {
      "value": {
        "sharepointonline": {
          "connectionId": "/subscriptions/YOUR_SUBSCRIPTION/resourceGroups/YOUR_RG/providers/Microsoft.Web/connections/sharepointonline",
          "connectionName": "sharepointonline",
          "id": "/subscriptions/YOUR_SUBSCRIPTION/providers/Microsoft.Web/locations/YOUR_LOCATION/managedApis/sharepointonline"
        },
        "office365": {
          "connectionId": "/subscriptions/YOUR_SUBSCRIPTION/resourceGroups/YOUR_RG/providers/Microsoft.Web/connections/office365",
          "connectionName": "office365",
          "id": "/subscriptions/YOUR_SUBSCRIPTION/providers/Microsoft.Web/locations/YOUR_LOCATION/managedApis/office365"
        },
        "teams": {
          "connectionId": "/subscriptions/YOUR_SUBSCRIPTION/resourceGroups/YOUR_RG/providers/Microsoft.Web/connections/teams",
          "connectionName": "teams",
          "id": "/subscriptions/YOUR_SUBSCRIPTION/providers/Microsoft.Web/locations/YOUR_LOCATION/managedApis/teams"
        }
      }
    }
  }
}
